h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

h5{
  font-size: 16px;
}

footer
{
  font-size:15px;
  margin-bottom: 5px;
  position: relative;
  height: 40px;
  margin-top: 10px;
}

body {
color: white;
text-align: center;
text-size-adjust: 100;
background: url("stuff/woods.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin: 0px;
animation: transitionIn 0.75s
}

.header {
padding: 30px;
font-size: 40px;
text-align: center;
}

.leftcolumn {
float: left;
width: 74%;
padding-right: 1%;
}

.rightcolumn {
float: right;
width: 24%;
padding-left: 1%;
}

.img {
background-color: #aaa;
max-width: 100%;
}

.card {
background-color: rgb(12, 27, 20);
padding: 20px;
margin-top: 20px;
border-style: groove;
}

.row:after {
content: "";
display: table;
clear: both;
}

.footer {
padding: 20px;
text-align: center;
background: transparent;
margin-top: 20px;
}

/* Style tab links */
.tablink {
background-color: #555;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
width: 33.33%;
}

.tablink:hover {
background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
color: white;
display: none;
padding: 100px 10px;
height: 100%;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}

@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {
  width: 100%;
  padding: 0;
}
}



.gallery {
  margin: 5px 10px;
  align-content: center;
}

.gallery img{
  transition: 1s;
  width: 300px;
  border: 1px solid white;
  border-radius: 8px;
  margin: 15px;
}

.gallery video{
  transition: 1s;
  padding: 1px;
  width: 300px;
  border: 1px solid white;
  border-radius: 8px;
  margin: 15px;
}

.selectionBox {
  border: groove;
  background-color: inherit;
  color:inherit;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding:2px;
  width: 100%;
}

#selectionBox{
  width:100%;
  color:inherit;
}

select option{
  background-color:rgb(1, 31, 19);
}

a:link { 
  color:white;
  background-color: transparent; 
  text-decoration-line: none;
}
  
a:visited {
  color:white;
  background-color: transparent;
  text-decoration-line: none;
}
  
a:hover {
  color:white;
  background-color: transparent;
}
  
a:active {
  color: blue;
  background-color: transparent;
}

.infoClass{
  margin-left: 20%;
  text-align: left;
}

.libraryThumb {
  max-width: 30%;
  max-height: 30%;
}

/**/

.container {
  overflow: hidden;
}

/* The "show" class is added to the filtered elements */
.showNot {
  display: none;
}

.divBox{
  padding:5px;
  margin-left: 200px;
  margin-right: 200px;
  align-content: center;
  text-align: left;
  font-size: 18px;
}

/* lightbox*/

.lb-loader,.lightbox{
  text-align:center;
  line-height:0;
  position:absolute;
  left:0
}

body.lb-disable-scrolling{
  overflow:hidden
}

.lightboxOverlay{
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  background-color:#000;
  filter:alpha(Opacity=80);
  opacity:.8;display:none
}

.lightbox{
  width:100%;
  z-index:10000;
  font-weight:400;
  outline:0
}

.lightbox .lb-image{
  display:block;
  height:auto;
  max-width:inherit;
  max-height:none;
  border-radius:3px;
  border:4px solid #fff
}

.lightbox a img{
  border:none
}

.lb-outerContainer{
  position:relative;
  width:250px;
  height:250px;
  margin:0 auto;
  border-radius:4px;
  background-color:#fff
}

.lb-outerContainer:after{
  content:"";
  display:table;
  clear:both
}

.lb-loader{
  top:43%;
  height:25%;
  width:100%
}

.lb-cancel{
  display:block;
  width:32px;
  height:32px;
  margin:0 auto;
  background:url(stuff//loading.gif) no-repeat
}

.lb-nav{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:10
}

.lb-container>.nav{
  left:0
}

.lb-next,.lb-prev{
  height:100%;
  cursor:pointer;
  display:block
}

.lb-nav a.lb-prev{
  width:34%;
  left:0;
  float:left;
  background:url(stuff/prev.png) left 48% no-repeat;
  filter:alpha(Opacity=0);
  opacity:0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition:opacity .6s
}

.lb-nav a.lb-prev:hover{
  filter:alpha(Opacity=100);
  opacity:1
}

.lb-nav a.lb-next{
  width:64%;
  right:0;
  float:right;
  background:url(stuff/next.png) right 48% no-repeat;
  filter:alpha(Opacity=0);
  opacity:0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition:opacity .6s
}

.lb-nav a.lb-next:hover{
  filter:alpha(Opacity=100);
  opacity:1
}

.lb-dataContainer{
  margin:0 auto;
  padding-top:5px;
  width:100%;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px
}

.lb-dataContainer:after{content:"";
  display:table;
  clear:both
}

.lb-data{
  padding:0 4px;
  color:#ccc
}

.lb-data .lb-details{
  width:85%;
  float:left;
  text-align:left;
  line-height:1.1em
}

.lb-data .lb-caption{
  font-size:13px;
  font-weight:700;
  line-height:1em
}

.lb-data .lb-caption a{
  color:#4ae
}

.lb-data .lb-number{
  display:block;
  clear:left;
  padding-bottom:1em;
  font-size:12px;
  color:#999
}

.lb-data .lb-close{
  display:block;
  float:right;
  width:30px;
  height:30px;
  background:url(stuff/close.png) top right no-repeat;
  text-align:right;outline:0;
  filter:alpha(Opacity=70);
  opacity:.7;
  -webkit-transition:opacity .2s;
  -moz-transition:opacity .2s;
  -o-transition:opacity .2s;
  transition:opacity .2s
}

.lb-data .lb-close:hover{
  cursor:pointer;
  filter:alpha(Opacity=100);
  opacity:1
}

/* transition anim*/

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: translateY(-10pix);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body{
  animation: transitionIn 0.75s;
}