h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.reiter{
    size: 360px;
    text-align: left;
    color: white;
}
footer
{
    font-size:15px;
    margin-bottom: 5px;
    position: relative;
    height: 40px;
    margin-top: 10px;
}

body {
    color: white;
    text-align: center;
    text-size-adjust: 100;
    background: url("stuff/woods.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery {
  margin: 5px 10px;
  align-content: center;
}

.gallery img{
  transition: 1s;
  padding: 15px;
  width: 250px;
}

.selectionBox {
  border: none;
  background-color: inherit;
  color: white;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

#selectionBox{
  width:100%;
}

a:link { 
  color:white;
  background-color: transparent; 
  text-decoration-line: none;
}
  
a:visited {
  color:white;
  background-color: transparent;
  text-decoration-line: none;
}
  
a:hover {
  color:white;
  background-color: transparent;
}
  
a:active {
  color: blue;
  background-color: transparent;
}

.infoClass{
  margin-left: 20%;
  text-align: left;
}

.darken {

  background: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%),rgb(0, 5, 3);
  background: linear-gradient(to bottom rgba(0, 0, 0, 0.2) 30%, rgba(0, 12, 6, 1) 70%);
  background-size: cover;
  height: 100%;

}

.libraryThumb {
  max-width: 30%;
  max-height: 30%;
}

/**/

.container {
  overflow: hidden;
}

/* The "show" class is added to the filtered elements */
.showNot {
  display: none;
}
